<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="side"
    >I'm a drawer
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <mat-drawer-content>
    <app-top-bar></app-top-bar>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
  </mat-drawer-content>
</mat-drawer-container>
